doctype html
html
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="css/painel.css")
    title= titulo
  body
    aside
     h1 Controlu
     span Painel controlo
     nav
      ul
       a(href="/painel")
        li Painel
       a(href="/consola")
        li Consola
       a(href="/opcoes")
        li Opções
       a(href="/logout")
        li Sair