@import url('https://fonts.googleapis.com/css?family=Roboto:300');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Roboto', sans-serif;    
}

aside {
    text-align: center;
    display: inline-block;
    width: 220px;
    position: absolute;
    background-color: rgb(7, 9, 24);
    left: 0;
    top: 0;
    height: 100%;
}

aside a:hover {
    color: rgb(73, 101, 194);
}

aside h1 {
    color: white;
    padding-top: 30px;
    text-transform: uppercase;    
}

aside span {
    color: white;
    font-size: 0.9em;
}

aside nav {
    color: white;
    text-align: left;
    margin-top: 50px;
}

aside nav ul li {
    list-style: none;
    padding: 8px;
    border-bottom: 1.3px solid rgb(22, 34, 83);
}

aside .ativo {
    color: rgb(73, 101, 194);
}

.area-opcoes {
    display: inline-block;
    margin-left: 280px;
    margin-top: 30px;
}

.area-opcoes form {
    margin-top: 5%;
}

.area-opcoes label {
    font-size: 1.2em;
}

.area-opcoes input {
    width: 90%;
    border: 1px solid rgb(7,9,24);
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
}

.area-opcoes select {
    width: 90%;
    border: 1px solid rgb(7,9,24);
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(240, 240, 240);
}


.area-opcoes button {
    border: none;
    padding: 10px;
    display: inline-block;
    background-color: rgb(7,9,24);
    color: white;
    border-radius: 4px;
    margin-top: 8%;
}